<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.johndevjames.myandroid">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Smart Order"
        android:theme="@style/AppTheme">
        <activity android:name="com.johndevjames.myandroid.HomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="View Order"
            android:screenOrientation="portrait"
            android:name="com.johndevjames.myandroid.Order3"
            android:textColor="@color/apple_grey"/>
        <activity android:name="com.johndevjames.myandroid.SignUPActivity"/>
        <activity android:name="com.johndevjames.myandroid.view_orders"
            android:screenOrientation="portrait" />
        <activity android:name="com.johndevjames.myandroid.cardview"/>
        <activity android:name="com.johndevjames.myandroid.login"
            android:screenOrientation="portrait" />
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Items"
            android:screenOrientation="portrait"
            android:name="com.johndevjames.myandroid.item_activity"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Add New Company"
            android:screenOrientation="portrait"
            android:name="com.johndevjames.myandroid.addnewcompany"/>
        <activity
            android:label="Add Customer"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:name="com.johndevjames.myandroid.Addcustomer"/>
        <activity
            android:label="Add New User"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.johndevjames.myandroid.Change_username"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Change Password"
            android:screenOrientation="portrait"
            android:name="com.johndevjames.myandroid.change_password"/>
        <activity

            android:label="Edit Customer"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.johndevjames.myandroid.Editcustomer"/>
        <activity
            android:name="com.johndevjames.myandroid.Settings"/>
        <activity
            android:label="Smart Order"
            android:name="com.johndevjames.myandroid.Customer_details"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.johndevjames.myandroid.Createdetails"/>
        <activity
            android:label="Smart Order"
            android:name="com.johndevjames.myandroid.MenuIconsAdmin"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:textColor="@color/apple_grey"/>
        <activity
            android:name="com.johndevjames.myandroid.Testvolley3"/>
        <activity
            android:label="View Customer Details"
            android:name="com.johndevjames.myandroid.Customer_details2"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="Add Order"
            android:screenOrientation="portrait"

            android:name="com.johndevjames.myandroid.Order" />
        <activity android:label="View Order"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:name="com.johndevjames.myandroid.Order2"/>
        <activity android:label="Add Order"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:name="com.johndevjames.myandroid.Order_customer"/>
        <activity android:name="com.johndevjames.myandroid.addImage"/>
        <activity android:name="com.johndevjames.myandroid.about_us"/>






    </application>
</manifest>